{% block type %}
  <blockquote>
    {{ post.question }}
    <cite>{{ post.asking_name }}</cite>
  </blockquote>
  
  <section>
    {{ post.answer }}
    <time>{{ post.date }}</time>
  </section>
{% endblock %}